POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=authdb
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/authdb

REDIS_URL=redis://redis:6379/0

JWT_SECRET=change_me_super_secret
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRES_MIN=60

RATE_LIMIT_WINDOW_SEC=60
RATE_LIMIT_MAX_HITS=10
