POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=vacancies_db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/vacancies_db

REDIS_URL=redis://redis:6379/0

RATE_LIMIT_WINDOW_SEC=60
RATE_LIMIT_MAX_HITS=10

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin