# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Distribution artifacts
build/
dist/
*.egg-info/

# Editors
.vscode/
.idea/

# Local data
.env
*.sqlite3
*.xlsx

# OS
.DS_Store
Thumbs.db

API.xlsx
init*.sql
.env