.layout {
    padding-top: 46px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--background-color);
    height: min-content;
    min-height: 100vh;
}

.main {
    height: auto;
}

.footer {
    color: var(--secondary-color);
}